{% extends "base_generic.html" %}

    {% block content %}
    <!-- Page Content -->
    <div class="container">
      <div class="row">
          <div style="width:100%; paddin-bottom:10px;">
              <h2>Add Warga</h2>
          </div>
          <form action="/warga/add/" method="post" data-parsley-validate="">
              {% csrf_token %}

              <div class="form-group">
                <label for="nama">No Va:</label>
                {{ form.no_va }}
              </div>

              <div class="form-group">
                <label for="nama">Nama:</label>
                {{ form.nama }}
              </div>
              <div class="form-group">
                <label for="no_kavling">No Kavling:</label>
                {{ form.no_kavling }}
              </div>
              <div class="form-group">
                <label for="nama_proyek">Nama proyek:</label>
                {{ form.nama_proyek }}
              </div>
              <div class="form-group">
                <label for="email">Email:</label>
                {{ form.email }}
              </div>
              <div class="form-group">
                <label for="hp">Hp:</label>
                {{ form.hp }}
              </div>
              <div class="form-group">
                  <label for="meter_air">Meter Air:</label>
                  {{ form.meter_air }}
              </div>
              <div class="form-group">
                <label for="luas_tanah">Luas Tanah:</label>
                {{ form.luas_tanah }}
            </div>
            <div class="form-group">
              <label for="ipl">Tagihan IPL:</label>
              {{ form.ipl }}
             </div>
             <div class="form-group">
              <label for="tunggakan">Tunggakan IPL:</label>
              {{ form.tunggakan }}
             </div>
            <div class="form-group">
              <label for="saldo">Saldo:</label>
              {{ form.saldo }}
            </div>
            <div class="form-group">
              <label for="saldo">denda:</label>
              {{ form.denda }}
            </div>
            <div class="form-group">
              <label for="saldo">tunggakan denda:</label>
              {{ form.tunggakan_denda }}
            </div>
            <div class="form-group">
              <label for="saldo">Admin:</label>
              {{ form.lain }}
            </div>
              <div class="form-group">
                    <label for="status">Status:</label>
                    {{ form.status }}
              </div>  
             
              <button type="submit" class="btn btn-default">Submit</button>
          </form>
      </div>
    </div>

{% endblock %}
