<!DOCTYPE html>
<html lang="en">
<head>
  
  {% block title %} <title>Estate Management - Flux</title>{% endblock %}
  {% load static %} 
   <!-- Add additional CSS in static file-->

  <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"> 
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



</head>
<body>
   <!-- Navigation -->
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Estate Management</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'list_warga' %}">Warga</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'penyesuaian_warga' %}">Penyesuaian</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'list_tagihan' %}">Tagihan</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'list_mutasi' %}">Mutasi</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'upload_csv' %}">Upload Warga</a>
            </li>
            
            
            <li class="nav-item">
              <a class="nav-link" href="{% url 'list_arsip_mutasi' %}">Arsip Mutasi</a>
            </li>            
            <li class="nav-item">
              <a class="nav-link" href="{% url 'list_setting' %}">Setting</a>
            </li>
            <!--
            <li class="nav-item">
              <a class="nav-link" href="{% url 'laporan' %}">Laporan</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="{% url 'chart_income' %}">Chart Income</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'chart_count_income' %}">Chart Count Income</a>
            </li>
            -->
            <li class="nav-item">
              <a class="nav-link" href="{% url 'cek_penyesuaian' %}">Cek Penyesuaian</a>
            </li>            
            <li class="nav-item">
                <a class="nav-link" href="{% url 'generate_tagihan' %}">Generate Tagihan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'email_tagihan' %}">Email Tagihan</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'cek_tagihan' %}">Cek Tagihan</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'generate_bkm' %}">BKM</a>
            </li>            
            <li class="nav-item">
              <a class="nav-link" href="{% url 'list_laporan' %}">Laporan Penerimaan</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

<div class="container-fluid">
<div class="row">
  <div class="col-sm-2">
    {% block sidebar %}
    <ul class="sidebar-nav">
      <!--<li><a href="{% url 'index' %}">Home</a></li> -->
      {% if user.is_authenticated %}
        <li>User: {{ user.get_username }}</li>
        <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>   
      {% else %}
        <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>   
      {% endif %} 
    </ul>
    {% endblock %}
  </div>
  <div class="col-sm-10 ">
    {% include 'messages.html' %}
    {% block content %}
    {% endblock %}
  </div>
</div>
</div>

<script src="{% static 'jquery/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>