<!DOCTYPE html>
<html>
    <head>
        <title>{% block page_title %}{% endblock %}</title>

        {% block style_base %}
            {% block layout_style %}
                <style type="text/css">
                    @page {
                        size: {{ pagesize|default:"A4" }};
                        margin-left: 1cm;
                        margin-right: 1cm;

                        @frame header {
                            -pdf-frame-content: page-header;
                            margin-top: 1.0cm;
                            margin-left: 1.5cm;
                            margin-right: 1.5cm;
                            margin-bottom: 0.5cm;
                            height: 0.5cm;
                        }

                        @frame content {
                            top: 0.5cm;
                            margin-top: 1.75cm;
                            margin-bottom: 0.5cm;
                            margin-left: 1.5cm;
                            margin-right: 1.5cm;
                        }

                        @frame footer {
                            -pdf-frame-content: page-footer;
                            bottom: 2cm;
                            margin-left: 1.5cm;
                            margin-right: 1.5cm;
                            height: 2.5cm;
                        }
                    }
                </style>
            {%endblock%}
            {% block extra_style %}{% endblock %}
        {% endblock %}

    </head>

    <body>
        <div id="page-header">
            {%block page_header%}
            {%endblock%}
        </div>

        <div id="page-content">
            {%block page_content%}
            {%endblock%}
        </div>

        <div id="page-footer">
            {%block page_foot%}
            {%endblock%}
        </div>

    </body>
</html>