{% extends "base_generic.html" %}


   
    {% block content %}

    <!-- Page Content -->
    <div class="container">
      <div class="row">
          <div style="width:100%; paddin-bottom:10px;">
              <h2>Cek Penyesuaian</h2>
          </div>
          <form name="cek_penyesuaian" action="/warga/cekpenyesuaian/" method="post" data-parsley-validate="">
              {% csrf_token %}

              <button onclick="clicked()">Submit</button>
              <script type="text/javascript">
                function clicked() {
                   if (confirm('Anda Yakin akan melakukan pengecekan Penyesuaian? ')) {
                      addtagihan.submit();
                   } else {
                       return false;
                   }
                }
              </script>
          </form>
      </div>
    </div>


    {% endblock %}
