{% extends "base_generic.html" %}


   
    {% block content %}

    <!-- Page Content -->
    <div class="container">
      <div class="row">
          <div style="width:100%; paddin-bottom:10px;">
              <h2>Cek Pembayaran</h2>
          </div>
          <form name="cek_tagihan" action="/tagihan/cek/" method="post" data-parsley-validate="">
              {% csrf_token %}

             

              <!--<div class="form-group">
                <label for="tanggal">Tanggal:</label>
                {{ form.tanggal }}
              </div>-->
             
             
              <!--
              <div class="form-group">
                <label for="pemakaian_air">Meteran Air Lalu:</label>
                {{ form.pemakaian_lalu }}
              </div>
              <div class="form-group">
                <label for="iuran_estate">Iuran Estate:</label>
                {{ form.iuran_estate }}
              </div>
              <div class="form-group">
                <label for="total_pembayaran_air">Total Pembayaran Air:</label>
                {{ form.total_pembayaran_air }}
              </div>
              <div class="form-group">
                <label for="total_keseluruhan">Grand Total:</label>
                {{ form.total_keseluruhan }}
              </div>
              <button type="submit" class="btn btn-default">Submit</button>-->
              <button onclick="clicked()">Submit</button>
              <script type="text/javascript">
                function clicked() {
                   if (confirm('Anda Yakin akan melakukan pengecekan Pembayaran? , Seluruh Data Mutasi akan di pindah ke Arsip')) {
                      addtagihan.submit();
                   } else {
                       return false;
                   }
                }
              </script>
          </form>
      </div>
    </div>


    {% endblock %}
