{% extends "base_bkm.html" %}

{% load static %}

{% block page_title %}
    {# Page title here #}
{% endblock %}

{% block extra_style %}
    <style type="text/css">
        {# Extra CSS styles here #}
    </style>
{% endblock %}

{% block page_header %}
    {% include "header.html" %}
{% endblock %}

{% block page_content %}

    <table border = "1" class="table" width="100%" height="60%">
        <tbody>
            <tr>
                <td style="padding:3px" align="left">              
                        Bank : BCA Panen - 829.087.2571 <br>                     
                        {% for bkm in hbb %}
                            Jumlah : Rp. {{bkm.nominal}} <br>
                        {% endfor %}                        
                        Terbilang : {{hasil}} Rupiah <br>
              </td>
            </tr>
        </tbody>                 
    </table>



        <table border = "1" class="table">
                <thead>
                    <tr>
                        <th style="padding:2px" width="5%">No.</th>
                        <th style="padding:2px">Account</th>
                        <th style="padding:2px">Uraian</th>
                        <th style="padding:2px">DPP</th>
                        <th style="padding:2px">PPN</th>
                        <th style="padding:2px">Jumlah</th>
                        
                        
                    </tr>
                </thead>
                
                {% for dbb in list_dbb %}
                
                <tbody>
                    
                    <tr>
                        <td align="center">{{ forloop.counter }}</td>                                                 
                        <td style="padding:2px" width="15%" align="left"> 6.224.010</td>
                        <td style="padding:2px" align="left"> {{dbb.no_kavling}} , Penerimaan IPL {{dbb.tglreport  | date:"m/Y"}}</td>
                        <td style="padding:2px" align="right">Rp. {{dbb.nominal}}</td>    
                        <td style="padding:2px" align="right">Rp. 0 </td>    
                        <td style="padding:2px" align="right">Rp. {{dbb.nominal}}</td>                            
                    </tr>                    
                </tbody>
                    {% if forloop.counter == 20 %}                
                          </table>
                          <pdf:nextpage /> 
                          <table border = "1" class="table">
                            <thead>
                                <tr>
                                  <th style="padding:2px" width="5%">No.</th>
                                    <th style="padding:2px">Account</th>
                                    <th style="padding:2px">Uraian</th>
                                    <th style="padding:2px">DPP</th>
                                    <th style="padding:2px">PPN</th>
                                    <th style="padding:2px">Jumlah</th>
                                    
                                    
                                </tr>
                            </thead>
                    {% endif %}
                </tbody>
                
                {% endfor %}
                
                {% for bkm in hbb %}
                <tfoot>
                    <tr>
                        <td> </td>
                        <td> </td>
                        <td style="padding:2px; font-weight:bold" align="right">Total</td>
                        <td style="padding:2px; font-weight:bold" align="right">Rp. {{bkm.nominal}}</td>
                        <td style="padding:2px; font-weight:bold" align="right">Rp. 0 </td>                        
                        <td style="padding:2px; font-weight:bold" align="right">Rp. {{bkm.nominal}}</td>
                    </tr>
                </tfoot>
                {% endfor %}
            </table>


{% endblock %}

{% block page_foot %}
    {% include "footer.html" %}
{% endblock %}