

<!DOCTYPE html>
<!--
  Invoice template by invoicebus.com
  To customize this template consider following this guide https://invoicebus.com/how-to-create-invoice-template/
  This template is under Invoicebus Template License, see https://invoicebus.com/templates/license/
-->
<html lang="en">
  <head>
    {% load static %} 
    <meta charset="utf-8">
    <title>Tagihan Estate Grand Harvest</title>
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <meta name="description" content="Invoicebus Invoice Template">
    <meta name="author" content="Invoicebus">

    <meta name="template-hash" content="f3142bbb0a1696d5caa932ecab0fc530">

    <!--<link rel="stylesheet" href="css/template.css">-->
    <style type="text/css">
        @page {
            size: A4;
            margin: 1cm;
        }
        .table {
            width: 100%;
            max-width: 100%;
            margin-bottom: 5px;
            background-color: #fff;
        }
        .table th,
        .table td {
            padding: 5px;
            vertical-align: top;
            border-top: 1px solid #000;
            text-align: left;
        }
        .table thead th {
            vertical-align: bottom;
            border-bottom: 2px solid #000;
        }
        .table tbody + tbody {
            border-top: 2px solid #000;
        }
        .table .table {
            background-color: #fff;
        }
        .list-group {
            display: block;
            width: 100%;
            list-style: none;
            margin-top: 15px;
            margin-bottom: 15px;
        }
        .list-group p {
            width: 100%;
            height: 20px;
            line-height: 20px;
            list-style: none;
            font-size: 1.1em;
        }
    </style>    
<style>
/*@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700&subset=cyrillic,cyrillic-ext,latin,greek-ext,greek,latin-ext,vietnamese");*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 1;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Invoice styles */
/**
 * DON'T override any styles for the <html> and <body> tags, as this may break the layout.
 * Instead wrap everything in one main <div id="container"> element where you may change
 * something like the font or the background of the invoice
 */
html, body {
  /* MOVE ALONG, NOTHING TO CHANGE HERE! */
}

/** 
 * IMPORTANT NOTICE: DON'T USE '!important' otherwise this may lead to broken print layout.
 * Some browsers may require '!important' in oder to work properly but be careful with it.
 */
.clearfix {
  display: block;
  clear: both;
}

.hidden {
  display: none;
}

b, strong, .bold {
  font-weight: bold;
}

#container {
  font: normal 13px/1.4em 'Open Sans', Sans-serif;
  margin: 0 auto;
  padding: 50px 40px;
  min-height: 1058px;
}

#memo .company-name {
  background: rgb(255, 255, 255)  560px center no-repeat;
  background-size: 100px auto;
  padding: 10px 20px;
  position: relative;
  margin-bottom: 15px;
}
#memo .company-name span {
  color: rgb(255, 119, 7);
  display: inline-block;
  min-width: 20px;
  font-size: 36px;
  font-weight: bold;
  line-height: 1em;
}
#memo .company-name .right-arrow {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100px;
  background: url("{% static 'img/right-arrows.png' %}") right center no-repeat;
  background-size: auto 60px;
}
#memo .logo {
  float: left;
  clear: left;
  margin-left: 20px;
}
#memo .logo img {
  width: 150px;
  height: 100px;
}
#memo .company-info {
  margin-left: 20px;
  float: left;
  font-size: 12px;
  color: #8b8b8b;
}
#memo .company-info div {
  margin-bottom: 3px;
  min-width: 20px;
}
#memo .company-info span {
  display: inline-block;
  min-width: 20px;
}
#memo:after {
  content: '';
  display: block;
  clear: both;
}

#invoice-info {
  float: left;
  margin: 25px 0 0 20px;
}
#invoice-info > div {
  float: left;
}
#invoice-info > div > span {
  display: block;
  min-width: 20px;
  min-height: 18px;
  margin-bottom: 3px;
}
#invoice-info > div:last-child {
  margin-left: 20px;
}
#invoice-info:after {
  content: '';
  display: block;
  clear: both;
}

#client-info {
  float: right;
  margin: 5px 20px 0 0;
  min-width: 220px;
  text-align: right;
}
#client-info > div {
  margin-bottom: 3px;
  min-width: 20px;
}
#client-info span {
  display: block;
  min-width: 20px;
}

#invoice-title-number {
  text-align: center;
  margin: 20px 0;
}
#invoice-title-number span {
  display: inline-block;
  min-width: 20px;
}
#invoice-title-number #title {
  margin-right: 15px;
  text-align: right;
  font-size: 20px;
  font-weight: bold;
}
#invoice-title-number #number {
  font-size: 15px;
  text-align: left;
}

table {
  table-layout: fixed;
}
table th, table td {
  vertical-align: top;
  word-break: keep-all;
  word-wrap: break-word;
}

#items {
  margin: 20px 0 35px 0;
}
#items .first-cell, #items table th:first-child, #items table td:first-child {
  width: 18px;
  text-align: right;
}
#items table {
  border-collapse: separate;
  width: 100%;
}
#items table th {
  padding: 12px 10px;
  text-align: right;
  background: #E6E7E7;
  border-bottom: 4px solid #487774;
}
#items table th:nth-child(2) {
  width: 30%;
  text-align: left;
}
#items table th:last-child {
  text-align: right;
  padding-right: 20px !important;
}
#items table td {
  padding: 15px 10px;
  align :right;
  text-align: right;
  border-right: 1px solid #CCCCCF;
}
#items table td:first-child {
  text-align: left;
  border-right: 0 !important;
}
#items table td:nth-child(2) {
  text-align: left;
}
#items table td:last-child {
  border-right: 0 !important;
  padding-right: 20px !important;
}

.currency {
  border-bottom: 4px solid #487774;
  padding: 0 20px;
}
.currency span {
  font-size: 11px;
  font-style: italic;
  color: #8b8b8b;
  display: inline-block;
  min-width: 20px;
}

#sums {
  float: right;
  background: #8BA09E url("{% static 'img/left-arrows.png' %}") -17px bottom no-repeat;
  background-size: auto 100px;
  color: white;
}
#sums table tr th, #sums table tr td {
  min-width: 100px;
  padding: 8px 20px 8px 35px;
  text-align: right;
  font-weight: 600;
}
#sums table tr th {
  text-align: left;
  padding-right: 25px;
}
#sums table tr.amount-total th {
  text-transform: uppercase;
}
#sums table tr.amount-total th, #sums table tr.amount-total td {
  font-size: 16px;
  font-weight: bold;
}
#sums table tr:last-child th {
  text-transform: uppercase;
}
#sums table tr:last-child th, #sums table tr:last-child td {
  font-size: 16px;
  font-weight: bold;
  padding-top: 20px !important;
  padding-bottom: 40px !important;
}

#terms {
  margin: 50px 20px 10px 20px;
}
#terms > span {
  display: inline-block;
  min-width: 20px;
  font-weight: bold;
}
#terms > div {
  margin-top: 10px;
  min-height: 50px;
  min-width: 50px;
}

.payment-info {
  margin: 0 20px;
}
.payment-info div {
  font-size: 12px;
  color: #8b8b8b;
  display: inline-block;
  min-width: 20px;
}

.ib_bottom_row_commands {
  margin: 10px 0 0 20px !important;
}

.ibcl_tax_value:before {
  color: white !important;
}

/**
 * If the printed invoice is not looking as expected you may tune up
 * the print styles (you can use !important to override styles)
 */
@media print {
  /* Here goes your print styles */
}

</style>
  </head>
  <body>
    <div id="container">
      <section id="memo">
        <div class="company-name">
          <span>Grand Harvest</span>
          <div class="right-arrow"></div>
        </div>

        <div class="logo">
       
        </div>
        
        <div class="company-info">
                <div >
                        
                        <!--<img src="{% static "img/logo.png" %}" alt="My image"/>-->
                       
                </div>
          <div>
            <!--<span>JL. Hr Muhammad 92  </span> <span>Surabaya</span>-->
          </div>
          <div>JL. Hr Muhammad 92, Surabaya</div>
          <div>www.grandharvest.co.id</div>
          <div>(031) 7349077</div>
        </div>

      </section>
      
      <section id="invoice-info">
        <div>
          <span>Tanggal Cetak: {{ today | date:"d/m/Y" }}</span>
          
        </div>
        
        <div>
        
          
        </div>
      </section>
      
      <section id="client-info">
        <span>KEPADA :</span>
        {% for warga in list_warga %}
        <tr>
                <td></td>
                <td></td>
               
                <td></td>              
        </tr>
      
        <div>
          <span class="bold">{{warga.nama}}</span>
        </div>
        
        <div>
          <span>No : {{warga.no_kavling}}</span>
        </div>
        
        <div>
          <span>Email : {{warga.email}}</span>
        </div>
        
        <div>
          <span>HP : {{warga.hp}}</span>
        </div>

        <div>
          <span>Status Pembayaran : {{warga.status}}</span>
        </div>

        <div>
            <span>Deposit : Rp. {{warga.saldo}}</span>
        </div>

        {% endfor %}
      </section>
      
      <div class="clearfix"></div>
      
      <section id="invoice-title-number">
        <span id="title">Invoice Iuran Pengelolaan Lingkungan (IPL) </span>      
      </section>
  
      <section id="items">
            <table border = "1" class="table">
                {% for tagihan in list_tagihan %}
                <tbody>
                <tr>
                  <td width="30%" align="left" padding-right:"10%";> Tagihan Bulan : </td>
                  <td  width="15%" align="right"> {{tagihan.tanggal  | date:"m/Y" }}</td>
                </tr>
                <tr>
                    <td>Iuran IPL :</td>
                    <td align="right"> Rp. {{tagihan.iuran_estate}}</td>
                </tr> 
                <tr>
                    <td>Iuran RT : </td>
                    <td align="right">Rp. {{tagihan.iuran_rt}}</td>
                </tr> 
                <tr>
                    <td>Total Pembayaran Air : </td>
                    <td align="right">Rp. {{tagihan.total_pembayaran_air}}</td>
                </tr>
                <tr>
                  <td >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Meter Air Bulan Lalu : </td>> 
                  <td align="right">{{tagihan.meteran_air_lalu}}</td>
                </tr>
                <tr>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Meter Air Sekarang : </td>
                  <td align="right"> {{tagihan.meteran_air_sekarang}} </td>
                </tr>
                <tr>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Jumlah Pemakaian Air(m3) : </td>
                  <td align="right"> {{tagihan.pemakaian_air}} </td>
                </tr>
                <tr>
                    <td>Tunggakan Bulan lalu :</td>
                    <td align="right"> Rp. {{tagihan.tunggakan}} </td>
                </tr>
                <tr>
                    <td > Denda :</td>
                    <td align="right"> Rp. {{tagihan.denda}}</td>
                    
                </tr>
                <tr>
                  <td>Biaya Admin :</td>
                  <td align="right"> Rp. {{tagihan.biaya_admin}}</td>
                </tr>
                <tr>
                  <td>Biaya Materai :  </td>
                  <td align="right"><span align :"right">Rp. {{tagihan.biaya_materai}} </span></td>
                </tr>                   
                <tr>
                    <td> <span class="bold"> Grand Total : </span> </td> 
                    <td align="right"> <span class="bold"> Rp. {{tagihan.total_keseluruhan}} </span> </td>
                </tr>
             
  

                </tbody>
                {% endfor %}
              
              </table>
      </section>

      <div class="currency">
        <span><br></span>
      </div>
      
      <div class="clearfix"></div>
      
      <section id="terms">
        <br>
        <span>Syarat & Ketentuan</span>
        <div>Pembayaran dianggap sah apabila dana telah diterima di Virtual Account CV Abdi Panen Sejahtera sebelum tanggal jatuh tempo. Apabila terjadi keterlambatan pembayaran maka akan berlaku denda sesuai peraturan IPL.</div>
        
      </section>
      {% for warga in list_warga %}
      <div class="payment-info">
        <div>Pembayaran dapat dilakukan melalui VA BCA A/C:{{warga.no_va}} </div><br>
        
        
        
      </div>
      {% endfor  %}
    </div>

    <script src="http://cdn.invoicebus.com/generator/generator.min.js?data=data.js"></script>
  </body>
</html>
