<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<script>
Highcharts.chart('container', {
  chart: {
      type: 'column'
  },
  title: {
      text: 'Cash In Flow Grand Harvest Estate 2018'
  },
  subtitle: {
      text: 'Source: Flux Infographic'
  },
  xAxis: {
      categories: [
          /*'Jan',
          'Feb',
          'Mar',
          'Apr',
          'May',
          'Jun',
          'Jul',
          'Aug',
          'Sep',
          'Oct',
          'Nov',
          'Dec'*/
          'Augustus',
          'September',
          'October',
          'November'
      ],
      crosshair: true
  },
  yAxis: {
      min: 0,
      title: {
          text: 'Tagihan (Unit)'
      }
  },
  tooltip: {
      headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
      pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
          '<td style="padding:0"><b>{point.y:.0f} unit </b></td></tr>',
      footerFormat: '</table>',
      shared: true,
      useHTML: true
  },
  plotOptions: {
      column: {
          pointPadding: 0.2,
          borderWidth: 0
      }
  },
  series: [{
      name: 'Jumlah Tagihan (unit)',
      data: [
            {% for entry in dataset %}
                {{ entry.total_keseluruhan }}
                {% if not forloop.last %}, 
                {% endif %}
            {% endfor %}
          ],
      color: 'blue'

  }, {
      name: 'Terbayar (unit)',
      data: [
            {% for entry in dataset2 %}
              {{ entry.total_keseluruhan }}
              {% if not forloop.last %}, 
              {% endif %}
            {% endfor %}
          ],
    color: 'green'

  }]
});
</script>