{% extends "base_generic.html" %}

{% block content %}

<h1>Input tagihan</h1>

<p>Apakah anda yakin melakukan input tagihan: {{ author }}?</p>

<form action="/tagihan/add/confirm/" method="post" data-parsley-validate="">


  {% csrf_token %}
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Tagihan</h2>
       
        <!-- 
            <form action="/book/edit/{{warga.id}}/" method="post" data-parsley-validate="">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{warga.id}}">
            <div class="form-group">
              <label for="title">Title:</label>
              <input type="text" name="title" id="title" class="form-control" data-parsley-required="true" value="{{book.title}}" required />
            </div>
            <div class="form-group">
              <label for="author">author:</label>
              <input type="text" name="author" id="author" class="form-control" data-parsley-required="true" value="{{book.author}}" required />
            </div>
            <div class="form-group">
              <label for="date_published">Date Published:</label>
              <input type="date" name="data_published" id="date_published" value="{{book.data_published|date:'d/m/Y'}}" class="form-control" data-parsley-required="true" required />
            </div>
            <div class="form-group">
              <label for="number_of_page">Number Of Page:</label>
              <input type="number" name="number_of_page" id="number_of_page" value="{{book.number_of_page}}" class="form-control" data-parsley-required="true" required />
            </div>
            <div class="form-group">
              <label for="type_of_book">Type Of Book:</label>
              <select name="type_of_book" id="type_of_book" class="form-control" data-parsley-required="true">
<option value="One Of Novel">One Of Novel</option>

<option value="Documentation">Documentation</option>

<option value="Others">Others</option>

</select>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>


        -->
        <p>&nbsp;</p>
        
        <table class="table table-condensed">
          <thead>
            <tr>
                <th>tanggal</th>
                <th>no_kavling</th>
                <th>Meteran Lalu</th>
                <th>Meteran Sekarang</th>
                <th>Pemakaian Air</th>
                <th>Iuran Estate</th>             
                <th>Total Pembayaran Air</th>
                <th>Total Keseluruhan</th>

            </tr>
          </thead>
          <tbody>
          <!--{% for tagihan in list_tagihan %}-->
            <tr>
                <td>{{tanggal}}</td>
                <td>{{no_kavling}}</td>
                <td>{{meteran_air_lalu}}</td>
                <td>{{meteran_air_sekarang}}</td>
                <td>{{pemakaian_air}}</td>
                <td>{{iuran_estate}}</td>
                <td>{{total_pembayaran_air}}</td>
                <td>{{total_keseluruhan}}</td>

            </tr>
          <!--{% endfor %}-->
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <input type="submit" action="" value="Ya, Input." />
</form>

{% endblock %}