{% extends "base_generic.html" %}


   
    {% block content %}
    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Tagihan</h2>
          <!-- 
              <form action="/book/edit/{{warga.id}}/" method="post" data-parsley-validate="">
              {% csrf_token %}
              <input type="hidden" name="id" value="{{warga.id}}">
              <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" name="title" id="title" class="form-control" data-parsley-required="true" value="{{book.title}}" required />
              </div>
              <div class="form-group">
                <label for="author">author:</label>
                <input type="text" name="author" id="author" class="form-control" data-parsley-required="true" value="{{book.author}}" required />
              </div>
              <div class="form-group">
                <label for="date_published">Date Published:</label>
                <input type="date" name="data_published" id="date_published" value="{{book.data_published|date:'d/m/Y'}}" class="form-control" data-parsley-required="true" required />
              </div>
              <div class="form-group">
                <label for="number_of_page">Number Of Page:</label>
                <input type="number" name="number_of_page" id="number_of_page" value="{{book.number_of_page}}" class="form-control" data-parsley-required="true" required />
              </div>
              <div class="form-group">
                <label for="type_of_book">Type Of Book:</label>
                <select name="type_of_book" id="type_of_book" class="form-control" data-parsley-required="true">
  <option value="One Of Novel">One Of Novel</option>

  <option value="Documentation">Documentation</option>

  <option value="Others">Others</option>

</select>
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
          </form>


          -->
          <p>&nbsp;</p>
            <p><a href="{% url 'add_tagihan' %}"><button type="button" class="btn btn-outline-warning">+ Add Tagihan Data</button></a> </p>
          <table class="table table-condensed">
            <thead>
              <tr>
                <th>tanggal</th>
                <th>No VA</th>
                <!--<th>Meteran Lalu</th>
                <th>Meteran Sekarang</th>
                <th>Pemakaian Air</th>
                <th>Total Pembayaran Air</th>-->

                <th>Iuran Estate</th>             
                
                <th>Biaya Admin</th>
                <th>Tunggakan</th>
                <th>Denda</th>
                <th>Total Keseluruhan</th>
                <th>Jatuh Tempo</th>
                <th>status</th>
                <th>action</th>
              </tr>
            </thead>
            <tbody>
              {% for tagihan in list_tagihan %}
            

              <tr
                {% if hari_ini > tagihan.jatuh_tempo and tagihan.status == "Belum Terbayar"  %}
                  bgcolor="#FF1111"  #red
                {% elif hari_ini <= tagihan.jatuh_tempo %}
                  bgcolor="#ffffff" #white
                {% endif %}      
              >
              <!--      <td>
                      {% if hari_ini > tagihan.jatuh_tempo  %} 
                        terlambat 
                      {% elif hari_ini <= tagihan.jatuh_tempo %}
                        normal
                      {% endif %}
                    </td>
                  -->
                  
                  <td>{{tagihan.tanggal | date:"d-m-y"}}</td>
                  <td>{{tagihan.no_kavling}}</td>
                  <!--<td>{{tagihan.meteran_air_lalu}}</td>
                  <td>{{tagihan.meteran_air_sekarang}}</td>
                  <td>{{tagihan.pemakaian_air}}</td>
                  <td>{{tagihan.total_pembayaran_air}}</td>-->
                  <td>{{tagihan.iuran_estate}}</td>
                  
                  <td>{{tagihan.biaya_admin}}</td>
                  <td>{{tagihan.tunggakan}}</td>
                  <td>{{tagihan.denda}}</td>
                  <td>{{tagihan.total_keseluruhan}}</td>
                  <td>{{tagihan.jatuh_tempo | date:"d-m-y"}}</td>
                  <td>{{tagihan.status}}</td>
                  <td>
                    <a href="/book/edit/{{tagihan.id}}/{{tagihan.no_kavling}}/">Edit</a> &nbsp;|&nbsp;
                    <a href="/book/delete/{{tagihan.id}}/">Delete</a>
                    <a href="/pdf/tagihan/">Detail</a>
                  </td>
              </tr>
            
            {% endfor %}
                
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {% endblock %}