{% extends "base_generic.html" %}


   
    {% block content %}
    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Tagihan</h2>
          <!-- 
              <form action="/book/edit/{{warga.id}}/" method="post" data-parsley-validate="">
              {% csrf_token %}
              <input type="hidden" name="id" value="{{warga.id}}">
              <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" name="title" id="title" class="form-control" data-parsley-required="true" value="{{book.title}}" required />
              </div>
              <div class="form-group">
                <label for="author">author:</label>
                <input type="text" name="author" id="author" class="form-control" data-parsley-required="true" value="{{book.author}}" required />
              </div>
              <div class="form-group">
                <label for="date_published">Date Published:</label>
                <input type="date" name="data_published" id="date_published" value="{{book.data_published|date:'d/m/Y'}}" class="form-control" data-parsley-required="true" required />
              </div>
              <div class="form-group">
                <label for="number_of_page">Number Of Page:</label>
                <input type="number" name="number_of_page" id="number_of_page" value="{{book.number_of_page}}" class="form-control" data-parsley-required="true" required />
              </div>
              <div class="form-group">
                <label for="type_of_book">Type Of Book:</label>
                <select name="type_of_book" id="type_of_book" class="form-control" data-parsley-required="true">
  <option value="One Of Novel">One Of Novel</option>

  <option value="Documentation">Documentation</option>

  <option value="Others">Others</option>

</select>
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
          </form>


          -->
          <p>&nbsp;</p>
            <p><a href="{% url 'add_tagihan' %}"><button type="button" class="btn btn-outline-warning">+ Add Tagihan Data</button></a> </p>
          <table class="table table-condensed">
            <thead>
              <tr>
                <th>ID</th>
                <th>Kode BKM</th>
                <th>Kode detail BKM</th>                             
                <th>Nominal</th>
                <th>Tanggal</th>
                <th>Nama</th>
                <th>Kavling</th>
                <th>action</th>
              </tr>
            </thead>
            <tbody>
              {% for dbkm in list_detail_bkm %}
              <tr>
                  <td>{{dbkm.id}}</td>
                  <td>{{dbkm.hbb_code}}</td>     
                  <td>{{dbkm.dbb_code}}</td>
                  <td>{{dbkm.nominal}}</td>
                  <td>{{dbkm.tglreport | date:"d-m-y"}}</td>
                  <td>{{dbkm.nama_pelanggan}}</td>
                  <td>{{dbkm.no_kavling}}</td>
                  <td>
                    <a href="/pdf/tagihan/">Detail</a>
                  </td>
              </tr>
            
            {% endfor %}
                
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {% endblock %}