{% extends "base_generic.html" %}
{% load humanize %}
{% load l10n %}


    {% block content %}
    <!-- Page Content -->
    <div class="container">
      <div class="row">
          <div style="width:100%; paddin-bottom:10px;">
              <h2>Proses / Edit Tagihan</h2>

          </div>
          <form action="/tagihan/edit/{{tagihan.id}}/{{tagihan.no_kavling}}/" method="post" data-parsley-validate="">
              {% csrf_token %}
              <input type="hidden" name="id" value="{{tagihan.id}}">
              <div class="form-group">
                <label for="tanggal">Tanggal:</label>
                <input type="date" name="tanggal" id="tanggal" class="form-control" data-parsley-required="true" value="{{tagihan.tanggal |unlocalize }}" required />
              </div>
              <div class="form-group">
                <label for="no_kavling">No Kavling:</label>
                <input type="text" name="no_kavling" id="no_kavling" class="form-control" data-parsley-required="true" value="{{tagihan.no_kavling}}" required />
              </div>
            
              <div class="form-group">
                <label for="iuran_estate">iuran_estate: Rp. {{tagihan.iuran_estate}}</label>
                <input type="number" name="iuran_estate" id="iuran_estate" value="{{tagihan.iuran_estate |unlocalize }}" class="form-control" data-parsley-required="true" required />
              </div>
              <div class="form-group">
                  <label for="tunggakan">tunggakan: Rp. {{tagihan.tunggakan}}</label>
                  <input type="number" name="tunggakan" id="tunggakan" value="{{tagihan.tunggakan |unlocalize}}" class="form-control" data-parsley-required="true" required />
              </div>
              <div class="form-group">
                <label for="biaya_admin">biaya admin: Rp. {{tagihan.biaya_admin}}</label>
                <input type="number" name="biaya_admin" id="biaya_admin" value="{{tagihan.biaya_admin |unlocalize}}" class="form-control" data-parsley-required="true" required />
            </div>
              <div class="form-group">
                    <label for="total_keseluruhan">total_keseluruhan:Rp. {{tagihan.total_keseluruhan}}</label>
                    <input type="number" name="total_keseluruhan" id="total_keseluruhan" value="{{tagihan.total_keseluruhan |unlocalize}}" class="form-control" data-parsley-required="true" required />
              </div>
              <div class="form-group">
                <label for="tanggal_bayar">Tanggal bayar:</label>
                <input type="date" name="tanggal_bayar" id="tanggal_bayar" class="form-control" data-parsley-required="true" value="{{tagihan.tanggal_bayar |unlocalize }}" required />
              </div>
              <div class="form-group">
                    <label for="status">Status:</label>
                    <!--<input type="text" name="status" id="status" value="{{form.status}}" class="form-control" data-parsley-required="true" required />-->
                    {{ form.status }}
              </div>  

              <button onclick="clicked()">Submit</button>
              <script type="text/javascript">
                function clicked() {
                   if (confirm('Apakah Inputan anda sudah Benar?')) {
                      edittagihan.submit();
                   } else {
                       return false;
                   }
                }
              </script>
             
              <!--<button type="submit" class="btn btn-default">Submit</button>-->
          </form>
      </div>
    </div>
    {% endblock %}