
{% extends "base_generic.html" %}
{% load humanize %}
{% load l10n %}


   
    {% block content %}
    <!-- Page Content -->
    {{ form.errors }}
    <div class="container">
      <div class="row">
          <div style="width:100%; paddin-bottom:10px;">
              <h2>Edit Warga</h2>

          </div>
          <form action="/warga/edit/{{warga.id}}/" method="post" data-parsley-validate="">
              {% csrf_token %}
              <input type="hidden" name="id" value="{{warga.id}}">
              <div class="form-group">
                <label for="no_va">No VA:</label>
                <input type="text" name="no_va" id="no_va" class="form-control" data-parsley-required="true" value="{{warga.no_va}}" required />
              </div>
              <div class="form-group">
                <label for="nama_proyek">Project:</label>
                <input type="text" name="nama_proyek" id="nama_proyek" class="form-control" data-parsley-required="true" value="{{warga.nama_proyek}}" required />
              </div>
              <div class="form-group">
                <label for="nama">Nama:</label>
                <input type="text" name="nama" id="nama" class="form-control" data-parsley-required="true" value="{{warga.nama}}" required />
              </div>
              <div class="form-group">
                <label for="no_kavling">No Kavling:</label>
                <input type="text" name="no_kavling" id="no_kavling" class="form-control" data-parsley-required="true" value="{{warga.no_kavling}}" required />
              </div>
              <div class="form-group">
                <label for="luas_tanah">Luas Tanah:</label>
                <input type="text" name="luas_tanah" id="luas_tanah" class="form-control" data-parsley-required="true" value="{{warga.luas_tanah}}" required />
              </div>
              <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" name="email" id="email" value="{{warga.email}}" class="form-control" data-parsley-required="true" required />
              </div>
              <div class="form-group">
                <label for="hp">No HP:</label>
                <input type="number" name="hp" id="hp" value="{{warga.hp}}" class="form-control" data-parsley-required="true" required />
              </div>
              <div class="form-group">
                  <label for="meter_air">Meter Air:</label>
                  <input type="number" name="meter_air" id="meter_air" value="{{warga.meter_air}}" class="form-control" data-parsley-required="true" required />
              </div>
              <div class="form-group">
                <label for="saldo">Saldo:</label>
                <input type="number" name="saldo" id="saldo" value="{{warga.saldo |unlocalize}}" class="form-control" data-parsley-required="true" required />
              </div>
              <div class="form-group">
                  <label for="ipl">IPL:</label>
                  <input type="number" name="ipl" id="ipl" value="{{warga.ipl |unlocalize}}" class="form-control" data-parsley-required="true" required />
              </div>
              <div class="form-group">
                <label for="tunggakan">Tunggakan:</label>
                <input type="number" name="tunggakan" id="tunggakan" value="{{warga.tunggakan |unlocalize}}" class="form-control" data-parsley-required="true" required />
              </div>
              <div class="form-group">
                <label for="denda">Denda:</label>
                <input type="number" name="denda" id="denda" value="{{warga.denda |unlocalize}}" class="form-control" data-parsley-required="true" required />
              </div>
              <div class="form-group">
                <label for="tunggakan_denda">Tunggakan Denda:</label>
                <input type="number" name="tunggakan_denda" id="tunggakan_denda" value="{{warga.tunggakan_denda |unlocalize}}" class="form-control" data-parsley-required="true" required />
              </div>
              <div class="form-group">
                <label for="rt">Iuran RT:</label>
                <input type="number" name="rt" id="rt" value="{{warga.iuran_rt |unlocalize}}" class="form-control" data-parsley-required="true" required />
              </div>
              <div class="form-group">
                <label for="tunggakan_rt">Tunggakan Iuran RT:</label>
                <input type="number" name="tunggakan_rt" id="tunggakan_rt" value="{{warga.tunggakan_rt |unlocalize}}" class="form-control" data-parsley-required="true" required />
              </div>
              <div class="form-group">
                <label for="lain">Admin:</label>
                <input type="number" name="lain" id="lain" value="{{warga.lain |unlocalize}}" class="form-control" data-parsley-required="true" required />
              </div>
              <div class="form-group">
                <label for="sisa_bulan">SisaBln:</label>
                <input type="number" name="sisa_bulan" id="sisa_bulan" value="{{warga.sisa_bulan |unlocalize}}" class="form-control" data-parsley-required="true" required />
              </div>
              <div class="form-group">
                    <label for="status">Status:</label>
                    <input type="text" name="status" id="status" value="{{warga.status}}" class="form-control" data-parsley-required="true" required />
              </div>  
              <button onclick="clicked()">Submit</button>
              <script type="text/javascript">
                function clicked() {
                   if (confirm('Apakah Inputan anda sudah Benar?')) {
                      edittagihan.submit();
                   } else {
                       return false;
                   }
                }
              </script>
              <!--<button type="submit" class="btn btn-default">Submit</button>-->
          </form>
      </div>
    </div>
    {% endblock %}