{% extends "base_generic.html" %}
{% load humanize %}
{% load l10n %}


   
    {% block content %}
    <!-- Page Content -->
    <div class="container">
      <div class="row">
          <div style="width:100%; paddin-bottom:10px;">
              <h2>Edit Setting</h2>

          </div>
          <form action="/setting/edit/{{setting.id}}/" method="post" data-parsley-validate="">
              {% csrf_token %}
              <input type="hidden" name="id" value="{{setting.id}}">
              <div class="form-group">
                <label for="ipl">IPL:</label>
                <input type="text" name="ipl" id="ipl" class="form-control" data-parsley-required="true" value="{{setting.IPL}}" required />
              </div>
              <div class="form-group">
                <label for="admin">Admin:</label>
                <input type="text" name="admin" id="admin" class="form-control" data-parsley-required="true" value="{{setting.admin}}" required />
              </div>
              <div class="form-group">
                <label for="denda">Denda:</label>
                <input type="text" name="denda" id="denda" value="{{setting.denda}}" class="form-control" data-parsley-required="true" required />
              </div>
             
              <button onclick="clicked()">Submit</button>
              <script type="text/javascript">
                function clicked() {
                   if (confirm('Apakah Inputan anda sudah Benar?')) {
                      edittagihan.submit();
                   } else {
                       return false;
                   }
                }
              </script>
              <!--<button type="submit" class="btn btn-default">Submit</button>-->
          </form>
      </div>
    </div>
    {% endblock %}