{% extends "base_generic.html" %}
    {% block content %}

    <!-- Page Content -->
    <div class="container">
      <div class="row">
          <div style="width:100%; paddin-bottom:10px;">
              <h2>Email Tagihan</h2>              
          </div>
          <form name="email_tagihan" action="/tagihan/email/" method="post" data-parsley-validate="">
              {% csrf_token %}

              <button onclick="clicked()">Submit</button>
              <script type="text/javascript">
                function clicked() {
                   if (confirm('Apakah Anda Yakin akan melakukan Email Tagihan? , Transaksi tidak dapat dibatalkan')) {
                      addtagihan.submit();
                   } else {
                       return false;
                   }
                }
              </script>
          </form>
      </div>
    </div>


    {% endblock %}
