{% load static %} 

<table border = "1" class="table" width="100%" heigth="90%">
    <tbody>
        <tr>
            <td style="padding:2px" width="40%" align="left" rowspan="2">Catatan</td>                    
            <td style="padding:2px" width="15%" align="center" rowspan="1">Disetujui</td>
            <td style="padding:2px" width="15%" align="center" rowspan="1">Diperiksa</td>
            <td style="padding:2px" width="15%" align="center" rowspan="1">Dibukukan</td> 
            <td  style="padding:2px"width="15%" align="center"> Penerima</td>               
        </tr>
        <tr>
                               
            <td style="padding:2px" width="15%" align="center" ><br></td>
            <td style="padding:2px" width="15%" align="center" ><br></td>
            <td  style="padding:2px" width="15%" align="center" ><br></td> 
            <td style="padding:2px" width="15%" align="center"> <br> </td>               
        </tr>
    </tbody>                 
</table>
<p>Halaman: <pdf:pagenumber/> / <pdf:pagecount/> </p> 
         

