{% extends "base_generic.html" %}


   
    {% block content %}

    <!-- Page Content -->
    <div class="container">
      <div class="row">
          <div style="width:100%; paddin-bottom:10px;">
              <h2>Generate Tagihan</h2>
              <p><a href="{% url 'export_input_bulan' %}">Export all tagihan</a></p>
          </div>
          <form name="generate_tagihan" action="/tagihan/generate/" method="post" data-parsley-validate="">
              {% csrf_token %}

             

              <!--<div class="form-group">
                <label for="tanggal">Tanggal:</label>
                {{ form.tanggal }}
              </div>-->
             
             
              <!--
              <div class="form-group">
                <label for="pemakaian_air">Meteran Air Lalu:</label>
                {{ form.pemakaian_lalu }}
              </div>
              <div class="form-group">
                <label for="iuran_estate">Iuran Estate:</label>
                {{ form.iuran_estate }}
              </div>
              <div class="form-group">
                <label for="total_pembayaran_air">Total Pembayaran Air:</label>
                {{ form.total_pembayaran_air }}
              </div>
              <div class="form-group">
                <label for="total_keseluruhan">Grand Total:</label>
                {{ form.total_keseluruhan }}
              </div>
              
              <button type="submit" class="btn btn-default">Submit</button>
              -->
              <button onclick="clicked()">Submit</button>
              <script type="text/javascript">
                function clicked() {
                   if (confirm('Apakah Anda Yakin akan melakukan Generate Tagihan? , Transaksi tidak dapat dibatalkan')) {
                      addtagihan.submit();
                   } else {
                       return false;
                   }
                }
              </script>
          </form>
      </div>
    </div>


    {% endblock %}
