{% extends "base_generic.html" %}
   
    {% block content %}

    <!-- Page Content -->
    <div class="container">
      <div class="row">
          <div style="width:100%; paddin-bottom:10px;">
              <h2>Generate BKM</h2>
              <p><a href="{% url 'export_input_bulan' %}">Export all BKM</a></p>
          </div>
          <form name="generate_bkm" action="/bkm/" method="post" data-parsley-validate="">
              {% csrf_token %}
              <button onclick="clicked()">Submit</button>
              <script type="text/javascript">
                function clicked() {
                   if (confirm('Apakah Anda Yakin akan melakukan Generate BKM? , Transaksi tidak dapat dibatalkan')) {
                      addtagihan.submit();
                   } else {
                       return false;
                   }
                }
              </script>
          </form>
          <table class="table table-condensed">
            <thead>
              <tr>
                  <th>ID</th>
                  <th>No BKM</th>
                  <th>Nomilnal</th>
                  <th>Tanggal</th>
                  <th>Action</th>
              </tr>
            </thead>
            <tbody>
             {% for bkm in list_bkm %}
            
                  
                  <td>{{bkm.id}}</td>
                  <td>{{bkm.hbb_code}}</td>
                  <td>{{bkm.nominal}}</td>
                  <td>{{bkm.tglreport}}</td>
                  <td>
                     
                     <!--<a href="/bkm/detail/{{bkm.hbb_code}}/">Detail</a>
                     <a href="/bkm/cetak/{{bkm.hbb_code}}/">Cetak</a>-->
                     <a href="/bkm/detail/{{bkm.id}}/">Detail</a>
                     <a href="/bkm/cetak/{{bkm.id}}/">Cetak</a>
                  </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
      </div>
    </div>


    {% endblock %}
