{% load static %} 

<div>
    <table border = "1" class="table" width="100%" heigth="40%">
        <tbody>
            <tr>
                <td style="padding:2px; font-weight:bold" width="80%" align="center" rowspan="2"> <font size="4">ABDI PANEN SEJAHTERA </font> </td>                    
                <td  style="padding:2px; font-weight:bold" width="90%" align="center" rowspan="2"> <font size="4">BUKTI PENERIMAAN KAS / BANK</font></td>
                {% for bkm in hbb %}
                    <td  style="padding:2px" align="left">No :  {{bkm.hbb_code}}</td>                        
                {% endfor %}
                
            </tr>
            <tr>
                {% for bkm in hbb %}
                    <td  style="padding:2px" align="left">Tanggal : {{bkm.tglreport| date:"d/m/Y"}} </td>
                {% endfor %}
            </tr>                
        </tbody>                 
    </table>
</div>
