{% extends "base_generic.html" %}


   
    {% block content %}
    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Daftar mutasi</h2>
          <p>&nbsp;</p>
          <p><a href="{% url 'export_mutasi_csv' %}">Export all Mutasi</a></p>
          <p>&nbsp;</p>
          <form action="." method="get">
            <label type="date">Cari tanggal</label>
            <input type="date" name="tanggal">
            
            <input type="submit" value="Cari">
          </form>
            

          <table class="table table-condensed">
            <thead>
              <tr>
                  <th>ID</th>
                  <th>No Va</th>
                  <th>Nama Pelanggan</th>
                  <th>Nominal</th>
                  <th>Jml Bayar(Bln)</th>
                  <th>Dari(Bln)</th>
                  <th>Sampai(Bln)</th>                  
                  <th>Tanggal</th>
                  <th>No_Kavling</th>
                  <th>Action</th>
              </tr>
            </thead>
            <tbody>
            {% for mutasi in list_mutasi %}
            
                  <td>*</td>
                  <td>{{mutasi.no_pelanggan}}</td>
                  <td>{{mutasi.nama_pelanggan}}</td>
                  <td>{{mutasi.nominal}}</td>
                  <td>{{mutasi.jml_bulan}}</td>
                  <td>{{mutasi.dari_bulan}}</td>
                  <td>{{mutasi.sampai_bulan}}</td>                                
                  <td>{{mutasi.tanggal}}</td>
                  <td>{{mutasi.no_kavling}}</td>
                  <td>
                     
                     <a href="/mutasi/detail/{{mutasi.no_kavling}}/">Detail</a>
                  </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    {% endblock %}

