{% extends "base_generic.html" %}


   
    {% block content %}
    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Daftar Warga</h2>
          <p>&nbsp;</p>
            <p><a href="{% url 'add_warga' %}"><button type="button" class="btn btn-outline-warning">+ Add Warga</button></a> </p>
            
            <br/>
            <p><a href="{% url 'export_wargas_csv' %}">Export all users</a></p>
            <!--<p><a href="/laporan/"><button type="button" class="btn btn-outline-warning">+ Cetak Report</button></a> </p>-->
            

          <table class="table table-condensed">
            <thead>
              <tr>
                  <th>No Va</th>
                  <th>nama</th>
                  <th>No Kavling</th>
                  <th>email</th>
                  <th>Handphone</th>
                  <th>Meter Air(m3)</th>
                  <th>Luas Tanah</th>
                  <th>IPL</th>
                  <th>Tunggakan</th>
                  <th>Denda</th>
                  <th>Lain2</th>
                  <th>Saldo</th>
                  <th>SisaBln</th>
                  
                  <th>Status</th>  
                  <th>Action</th>
              </tr>
            </thead>
            <tbody>
            {% for warga in list_warga %}
              <tr
                {% if warga.status ==  "SP2" or warga.status ==  "SP3"  %}
                  bgcolor="#FF1111"  #red
                {% elif warga.status ==  "SP1" %}
                  bgcolor="#ffff00" #yellow
                {% endif %}      
              >
                  <td>{{warga.no_va}}</td>
                  <td>{{warga.nama}}</td>
                  <td>{{warga.no_kavling}}</td>
                  <td>{{warga.email}}</td>
                  <td>{{warga.hp}}</td>
                  <td>{{warga.meter_air}}</td>
                  <td>{{warga.luas_tanah}}</td>
                  <td>{{warga.ipl}}</td>
                  <td>{{warga.tunggakan}}</td>
                  <td>{{warga.denda}}</td>
                  <td>{{warga.lain}}</td>
                  <td>{{warga.deposit}}</td>
                  <td>{{warga.sisa_bulan}}</td>
                  <td>{{warga.status}}</td>
                  <td>
                     <a href="/warga/edit/{{warga.id}}/">Edit</a> &nbsp;|&nbsp;
                     <!--<a href="/warga/detail/{{warga.no_kavling}}/">Detail</a>-->
                     <a href="/warga/detail/{{warga.no_va}}/">Detail</a> &nbsp;|&nbsp;
                     <a href="/warga/tahunan/{{warga.id}}/">Penyesuaian</a>
                  </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    {% endblock %}

