{% extends "base_generic.html" %}


   
    {% block content %}
    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Daftar Penyesuaian Data Warga</h2>
          <p>&nbsp;</p>
            <!--<p><a href="/laporan/"><button type="button" class="btn btn-outline-warning">+ Cetak Report</button></a> </p>-->
            
         
          <table class="table table-condensed">
            <thead>
              <tr>
                    <th>No Va</th>
                    <th>Perubahan Tunggakan</th>
                    <th>Perubahan Denda</th>
                    <th>Deposit (Bulan)</th>
                    <th>Deposit (Rp)</th>
                    <th>Tanggal</th>
                    <th>Status</th>
                    <th>User</th>
                    <th>No Kav.</th>
                    <th>Action</th>
              </tr>
            </thead>
            <tbody>
            {% for warga in list_penyesuaian %}
              <tr>            
                  <td><label for="no_va" name="no_va" id="no_va" value={{warga.no_va}}>{{warga.no_va}} </label></td>
                  <td>{{warga.penyesuaian_tunggakan}}</td>
                  <td>{{warga.penyesuaian_denda}}</td>
                  <td>{{warga.penyesuaian_sisa_bulan}}</td>
                  <td>{{warga.deposit}}</td>
                  <td>{{warga.tanggal}}</td>
                  <td>{{warga.status}}</td>
                  <td>{{warga.user}}</td>
                  <td>{{warga.no_rumah}}</td>
                  <td>
                    <form name="penyesuaian_warga" action="/warga/penyesuaian/" method="post" data-parsley-validate="">
                        {% csrf_token %}
                        <button onclick="clicked()" name="no_va" id="no_va" class="form-control" data-parsley-required="true" value={{warga.no_va}}>Setuju</button>
                        <script type="text/javascript">
                            function clicked() {
                            if (confirm('Apakah Anda Yakin akan menyetujui perubahan ini? , Transaksi tidak dapat dibatalkan')) {
                                addtagihan.submit();
                            } else {
                                return false;
                            }
                            }
                        </script>
                    </form>
                 
                     <!--<a href="/warga/edit/{{warga.id}}/">Edit</a> &nbsp;|&nbsp;-->
                     <!--<a href="/warga/detail/{{warga.no_kavling}}/">Detail</a>                
                     <a href="/warga/penyesuaian/{{warga.no_va}}/">Setujui</a>-->
                  </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    {% endblock %}

