{% extends "base_generic.html" %}


   
    {% block content %}
    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Daftar Warga</h2>
          <p>&nbsp;</p>
            <p><a href="{% url 'add_warga' %}"><button type="button" class="btn btn-outline-warning">+ Add Warga</button></a> </p>
            
            <br/>
            <p><a href="{% url 'export_wargas_csv' %}">Export all users</a></p>
            <!--<p><a href="/laporan/"><button type="button" class="btn btn-outline-warning">+ Cetak Report</button></a> </p>-->
            

          <table class="table table-condensed">
            <thead>
              <tr>
                  <th>ID</th>
                  <th>No BKM</th>
                  <th>Nomilnal</th>
                  <th>Tanggal</th>
                  <th>Action</th>
              </tr>
            </thead>
            <tbody>
            
              <tr>
                  <td>{{hbb.id}}</td>
                  <td>{{hbb.hbb_code}}</td>
                  <td>{{hbb.nominal}}</td>
                  <td>{{hbb.tgl_report}}</td>
                  <td>
                     <a href="/warga/detail/{{warga.no_va}}/">Cetak</a>
                  </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    {% endblock %}

