{% extends "base_generic.html" %}
   
    {% block content %}
    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Setting </h2>
          <p>&nbsp;</p>
            <p><a href="{% url 'add_warga' %}"><button type="button" class="btn btn-outline-warning">+ Add Project Setting</button></a> </p>
            
            <br/>
            <!--<p><a href="{% url 'export_wargas_csv' %}">Export all users</a></p>
            <p><a href="/laporan/"><button type="button" class="btn btn-outline-warning">+ Cetak Report</button></a> </p>-->
            

          <table class="table table-condensed">
            <thead>
              <tr>
                  <th>id</th>
                  
                  <th>IPL(Rp/m2)</th>
                  <th>admin(Rp)</th>
                  <th>denda(% dr IPL)</th>
                  <th>Nama Proyek</th>
                  <th>Kode Perusahaan</th>
                  <th>Nama PT</th>                  
                  <th>Singkatan PT</th>
                  <th>website</th>
                  <th>Action</th>
              </tr>
            </thead>
            <tbody>
            {% for setting in list_setting %}           
              <tr>
                  <td>{{setting.id}}</td>
                  <td>{{setting.IPL}}</td>
                  <td>{{setting.admin}}</td>
                  <td>{{setting.denda}}</td>
                  <td>{{setting.nama_proyek}}</td>
                  <td>{{setting.company_code}}</td>
                  <td>{{setting.nama_pt}}</td>
                  <td>{{setting.singkatan_pt}}</td>
                  <td>{{setting.website}}</td>
                  <td>
                     <a href="/setting/edit/{{setting.id}}/">Edit</a> &nbsp;|&nbsp;
                  </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    {% endblock %}

