{% extends "base_generic.html" %}
{% now "Y-m-d" as todays_date %}


<style type="text/css">
  tr.green {
    backgroundColor: green;
  }
</style>



   
    {% block content %}
    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Tagihan</h2>
          <p>&nbsp;</p>
          {% if todays_date < someday|date:"Y-m-d" %}
            <h1>It's not too late!</h1>
          {% endif %}
          <form action="." method="get">
            <label type="text">Cari No Kavling</label>
            <input type="text" name="kavling">
            <label type="text">Status</label>
            <select name="status">
              <option value="" selected>Semua</option>
              <option value="Lunas">Lunas</option>
              <option value="Belum Terbayar">Belum Terbayar</option>
            </select>
            <input type="submit" value="Cari">
          </form>
            <p><a href="{% url 'add_tagihan' %}"><button type="button" class="btn btn-outline-warning">+ Add Tagihan Data</button></a> </p>
            
          <table class="table table-condensed">
            <thead>
              <tr>
                  
                  <th>tanggal</th>
                  <th>No Rumah</th>
                  <!--<th>Meteran Lalu</th>
                  <th>Meteran Sekarang</th>
                  <th>Pemakaian Air</th>
                  <th>Total Pembayaran Air</th>-->

                  <th>Iuran Estate</th>             
                  
                  <th>Biaya Admin</th>
                  <th>Tunggakan</th>
                  <th>Denda</th>
                  <th>Deposit</th>
                  <th>Total Keseluruhan</th>
                  <th>Jatuh Tempo</th>
                  <th>status</th>
                  <th>action</th>
                  
              </tr>
            </thead>
            <tbody>
            {% for tagihan in list_tagihan %}
            

              <tr
                {% if hari_ini > tagihan.jatuh_tempo and tagihan.status == "Belum Terbayar"  %}
                  bgcolor="#FF1111"  #red
                {% elif hari_ini <= tagihan.jatuh_tempo %}
                  bgcolor="#ffffff" #white
                {% endif %}      
              >
              <!--      <td>
                      {% if hari_ini > tagihan.jatuh_tempo  %} 
                        terlambat 
                      {% elif hari_ini <= tagihan.jatuh_tempo %}
                        normal
                      {% endif %}
                    </td>
                  -->
                  
                  <td>{{tagihan.tanggal | date:"d-m-y"}}</td>
                  <td>{{tagihan.no_rumah}}</td>
                  <!--<td>{{tagihan.meteran_air_lalu}}</td>
                  <td>{{tagihan.meteran_air_sekarang}}</td>
                  <td>{{tagihan.pemakaian_air}}</td>
                  <td>{{tagihan.total_pembayaran_air}}</td>-->
                  <td>{{tagihan.iuran_estate}}</td>
                  
                  <td>{{tagihan.biaya_admin}}</td>
                  <td>{{tagihan.tunggakan}}</td>
                  <td>{{tagihan.denda}}</td>
                  <td>{{tagihan.deposit}}</td>
                  <td>{{tagihan.total_keseluruhan}}</td>
                  <td>{{tagihan.jatuh_tempo | date:"d-m-y"}}</td>
                  <td>{{tagihan.status}}</td>
                  <td>
                      {% load l10n %}
                      {% localize off %}
                      <!--
                        <a href="/tagihan/edit/{{tagihan.id | linebreaks }}/{{tagihan.no_kavling}}/">Proses/Edit</a> &nbsp;|&nbsp;
                        <a href="/tagihan/delete/{{tagihan.id}}/">Delete</a> &nbsp;|&nbsp;
                      -->
                      <a href="/tagihan/cetak/{{tagihan.id}}/{{tagihan.no_kavling}}/">Cetak</a>
                      {% endlocalize %}
                  </td>
              </tr>
            
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {% endblock %}