{% extends "base_generic.html" %}

{% block content %}
<h1>Grand Harvest - Abdi Panen Sejahtera</h1>

  <p>Selamat datang <em>Estate Management System</em>, Develop by Flux.</p>

<h2>Dashboard</h2>
  <p>Daftar Status Estate Periode :{{ periode }}</p>
  <ul>
    <li><strong>Jumlah Warga:</strong> {{ num_warga }} orang</li>
    <li><strong>Jumlah Tagihan:</strong> {{ num_tagihan }} tagihan</li>
    <br>
    <li><strong>Jumlah Total Iuran Estate : Rp.</strong> {{ total_iuran }}</li>
    <li><strong>Jumlah Total Payment A Head: Rp.</strong> {{ total_deposit }}</li>
    <li><strong>Jumlah Total Carry Over : Rp.</strong> {{ total_tunggakan }}</li>
    <br>
    <li><strong>Jumlah Iuran Estate:</strong> {{ jml_normal }} unit</li>      
    <li><strong>Jumlah Payment A Head :</strong> {{ jml_deposit }} unit</li>
    <li><strong>Jumlah Carry Over:</strong> {{ jml_tunggakan }} unit</li>      
    <br>
    <li><strong>Jumlah Iuran Estate Terbayar:</strong> {{ jml_normal_terbayar }} unit</li>      
    <li><strong>Jumlah Payment A Head Terbayar:</strong> {{ jml_deposit_terbayar }} unit</li>      
    <li><strong>Jumlah Carry Over Terbayar:</strong> {{ jml_tunggakan_terbayar }} unit</li>      
    <br>
    <li><strong>Jumlah Persen Iuran Estate Terbayar:</strong> {{ persen_normal_terbayar }}%</li>      
    <li><strong>Jumlah Persen Payment A Head Terbayar:</strong> {{ persen_deposit_terbayar }}%</li>      
    <li><strong>Jumlah Persen Carry Over Terbayar:</strong> {{ persen_tunggakan_terbayar }}%</li>      
    
  </ul>

{% endblock %}