<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Warga Report</title>
    <style type="text/css">
        @page {
            size: A4;
            margin: 1cm;
        }
        .table {
            width: 100%;
            max-width: 100%;
            margin-bottom: 5px;
            background-color: #fff;
        }
        .table th,
        .table td {
            padding: 5px;
            vertical-align: top;
            border-top: 1px solid #000;
            text-align: center;
        }
        .table thead th {
            vertical-align: bottom;
            border-bottom: 2px solid #000;
        }
        .table tbody + tbody {
            border-top: 2px solid #000;
        }
        .table .table {
            background-color: #fff;
        }
        .list-group {
            display: block;
            width: 100%;
            list-style: none;
            margin-top: 15px;
            margin-bottom: 15px;
        }
        .list-group p {
            width: 100%;
            height: 20px;
            line-height: 20px;
            list-style: none;
            font-size: 1.1em;
        }
    </style>
</head>
<body>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Konfirmasi Pembayaran Estate - {{ today | date:"d/m/Y" }}</h3>
        </div>

        <div class="list-group">
            <p>Name Admin: {{ request.user.first_name }} {{ request.user.last_name }}</p>
        </div>

        <table class="table">
                <thead>
                <tr>
                    <th>nama</th>
                    <th>No Kavling</th>
                   
                    <th>Status</th>    
                </tr>
                </thead>
                <tbody>
                    {% for warga in list_warga %}
                    <tr>
                            <td>{{warga.nama}}</td>
                            <td>{{warga.no_kavling}}</td>
                           
                            <td>{{warga.status}}</td>              
                    </tr>
                  {% endfor %}
                </tbody>
        </table>


        <table class="table">
            <thead>
            <tr>
                <th>Tanggal Cetak</th>
                <th>Meter Air Lalu</th>
                <th>Meter Air Sekarang</th>
                <th>Jumlah Pemakaian Air(m3)</th>
                <th>Total Pembayaran Air</th>
                <th>Iuran Estate</th>
                <th>Grand Total</th>
                <th>Status</th>       
            </tr>
            </thead>
            <tbody>
                {% for tagihan in list_tagihan %}
                <tr>
                    <td>{{tagihan.tanggal}}</td>
                    <td>{{tagihan.meteran_air_lalu}}</td>
                    <td>{{tagihan.meteran_air_sekarang}}</td>
                    <td>{{tagihan.pemakaian_air}}</td>
                    <td>{{tagihan.total_pembayaran_air}}</td>
                    <td>{{tagihan.iuran_estate}}</td>                    
                    <td>{{tagihan.total_keseluruhan}}</td>
                    <td>{{tagihan.status}}</td>                
                </tr>
              {% endfor %}
            </tbody>
        </table>

       
    </div>
</div>

</body>
</html>