{% extends "base_generic.html" %}


   
    {% block content %}
    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Laporan Penerimaan Bulanan</h2>
          <p>&nbsp;</p>
           
            <br/>
            <!--<p><a href="{% url 'export_wargas_csv' %}">Export all users</a></p>
            <p><a href="/laporan/"><button type="button" class="btn btn-outline-warning">+ Cetak Report</button></a> </p>-->
            

          <table class="table table-condensed">
            <thead>
              <tr>
                  <th>No</th>
                  <th>Tanggal</th>
                  <th>Target</th>
                  <th>Realisasi</th>
                  <th>Off-Target</th>
                  <th>Persentase Realisasi</th>
                  <th>Target Kontributor</th>
                  <th>Total Kontributor</th>
                  <th>Off Kontributor</th>
                  <th>Persentase Kontributor</th>
              </tr>
            </thead>
            <tbody>
            {% for warga in list_laporan %}
              <tr
               
              >
                  <td>{{warga.id}}</td>
                  <td>{{warga.tanggal}}</td>
                  <td>{{warga.target}}</td>
                  <td>{{warga.realisasi}}</td>
                  <td>{{warga.miss_target}}</td>
                  <td>{{warga.persentase_realisasi_target}}</td>
                  <td>{{warga.jml_tagihan}}</td>
                  <td>{{warga.jml_kontributor}}</td>
                  <td>{{warga.jml_non_kontributor}}</td>                  
                  <td>{{warga.persentase_kontributor}}</td>    
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    {% endblock %}

