<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Warga Report</title>
    <style type="text/css">
        @page {
            size: A4;
            margin: 1cm;
        }
        .table {
            width: 100%;
            max-width: 100%;
            margin-bottom: 5px;
            background-color: #fff;
        }
        .table th,
        .table td {
            padding: 5px;
            vertical-align: top;
            border-top: 1px solid #000;
            text-align: center;
        }
        .table thead th {
            vertical-align: bottom;
            border-bottom: 2px solid #000;
        }
        .table tbody + tbody {
            border-top: 2px solid #000;
        }
        .table .table {
            background-color: #fff;
        }
        .list-group {
            display: block;
            width: 100%;
            list-style: none;
            margin-top: 15px;
            margin-bottom: 15px;
        }
        .list-group p {
            width: 100%;
            height: 20px;
            line-height: 20px;
            list-style: none;
            font-size: 1.1em;
        }
    </style>
</head>
<body>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Warga Report - {{ today | date:"d/m/Y" }}</h3>
        </div>

        <div class="list-group">
            <p>Name: {{ request.user.first_name }} {{ request.user.last_name }}</p>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th>nama</th>
                <th>kavling</th>
                <th>email</th>
                <th>hp</th>
                <th>Meter Air</th>
                <th>Status</th>
               
            </tr>
            </thead>
            <tbody>
                {% for warga in list_warga %}
                <tr>
                    <td>{{warga.nama}}</td>
                    <td>{{warga.no_kavling}}</td>
                    <td>{{warga.email}}</td>
                    <td>{{warga.hp}}</td>
                    <td>{{warga.meter_air}}</td>
                    <td>{{warga.status}}</td>
                   
                </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
</div>

</body>
</html>