{% extends "base_generic.html" %}
{% load humanize %}
{% load l10n %}


   
    {% block content %}
    <!-- Page Content -->
    <div class="container">
      <div class="row">
          <div style="width:100%; paddin-bottom:10px;">
              <h2>Penyesuaian Data Warga</h2>

          </div>
          <form action="/warga/tahunan/{{warga.id}}/" method="post" data-parsley-validate="">
              {% csrf_token %}
              <input type="hidden" name="id" value="{{warga.id}}">
              <div class="form-group">
                <label for="no_va" name="no_va" id="no_va" value={{warga.no_va}}>No VA: {{warga.no_va}} </label>
              </div>
              <div class="form-group">
                <label for="nama" name="nama" id="nama" >Nama: {{warga.nama}} </label>
              </div>
              <div class="form-group">
                <label for="no_kavling" name="no_kavling" id="no_kavling" >No Kavling: {{warga.no_kavling}} </label>
              </div>
              <div class="form-group">
                  <label for="ipl" name="ipl" id="ipl" >IPL: {{warga.ipl |unlocalize}}</label>
              </div>            
              <div class="form-group">
                <label for="sisa_bulan" name="sisa_bulan" id="sisa_bulan">SisaBln: {{warga.sisa_bulan |unlocalize}}</label>
              </div>
              <div class="form-group">
                <label for="bayar_bulan">Pembayaran Deposit(bln):</label>
                <input type="text" name="bayar_bulan" id="bayar_bulan" class="form-control" data-parsley-required="true" value="0" required />
              </div>
              <div class="form-group">
                <label for="gratis_bulan">Gratis (bln): </label>
                <input type="text" name="gratis_bulan" id="gratis_bulan" class="form-control" data-parsley-required="true" value="0" required />
              </div>
              <div class="form-group">
                <label for="tunggakan" name="tunggakan" id="tunggakan" >Tunggakan: {{warga.tunggakan |unlocalize}}</label>
              </div>
               <div class="form-group">
                <label for="penyesuaian_tunggakan">Penyesuaian Tunggakan:</label>
                <input type="number" name="penyesuaian_tunggakan" id="penyesuaian_tunggakan" value="{{warga.tunggakan |unlocalize}}" class="form-control" data-parsley-required="true" required />
              </div>              
              <div class="form-group">
                <label for="denda" name="denda" id="denda" >Denda: {{warga.denda |unlocalize}}</label>
              </div>
              <div class="form-group">
                <label for="penyesuaian_denda">Penyesuaian Denda:</label>
                <input type="number" name="penyesuaian_denda" id="penyesuaian_denda" value="{{warga.denda |unlocalize}}" class="form-control" data-parsley-required="true" required />
              </div>
              <button onclick="clicked()">Submit</button>
              <script type="text/javascript">
                function clicked() {
                   if (confirm('Apakah Inputan anda sudah Benar ??')) {
                      edittagihan.submit();
                   } else {
                       return false;
                   }
                }
              </script>
              <!--<button type="submit" class="btn btn-default">Submit</button>-->
          </form>
      </div>
    </div>
    {% endblock %}